<h1> Add a new post</h1>


<form method="post" action="/addPost">
    <div>
        <Strong>Title of the post: </Strong>
        <hr>
        <textarea class="form-control" name="title" rows="2"> </textarea>
        <br>
        <br>
        <br>
        <Strong>Content of the post: </Strong>
        <hr>
        <textarea class="form-control" name="content" rows="5" > </textarea>
        <input type="submit">
    </div>
</form>
