

    <div class="row">
      
        <div class="col-sm-5 bg-success text-light">
            <h2>Login</h2>
            <form method="post" action="/login">
                Username: <input type="text"
                                 autocomplete="username"
                                 name="username"><br><br>
                Passphrase: <input  type="password"
                                    autocomplete="passphrase"
                                    name="passphrase"><hr>
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
      
        <div class="col-sm-1 bg-light">
            
        </div>
      
        <div class="col-sm-5 bg-info text-light">
            <h2>Signup</h2>
            <form method="post" action="/signup">
                Username: <input type="text" autocomplete="username" name="username"><br><br>
                Password
                   <input type="password" autocomplete="passphrase" name="passphrase"><br><br>
                Confirm Password:
                    <input type="password" name="passphrase2"><br><br>
              
                Age: <input type="number" name="age"><hr>
        
                <input type="submit" class="btn btn-danger"><br><br>
            </form>
        </div>
    </div>


